version: '3.8'
services:
 jenkins:
   image: "jenkins/jenkins:latest"
   user: root
   privileged: true
   volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins_home:/var/jenkins_home
      - ../../pkis/{{ PKI_NAME }}/servers/{{ DOMAIN_NAME }}/keystore.jks:/var/jenkins_home/keystore.jks
   networks:
     - jenkins-network
   ports:
     - 443:{{ HTTPS_PORT_BIND }}
     - 50000:50000
   environment:
     JENKINS_OPTS: --httpPort=-1 --httpsPort={{ HTTPS_PORT_BIND }} --httpsKeyStore=/var/jenkins_home/keystore.jks --httpsKeyStorePassword={{ KEYSTORE_PASSWORD }}
networks:
  jenkins-network:
    driver: bridge